.RootWrapperLandingPage {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: white;
  box-sizing: border-box;
  padding: 24px 0px;
}

.WhitePaddingContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex: none;
  background-color: white;
  box-sizing: border-box;
  padding: 0px 100px;
}

.LandingSection {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  align-self: stretch;
  box-sizing: border-box;
  padding: 100px 0px 0px;
  flex-shrink: 0;
}

.LandingSectionContent {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  box-sizing: border-box;
  flex-shrink: 0;
}

.Badge {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  flex: none;
  gap: 12px;
  border-radius: 16px;
  background-color: rgb(249, 245, 255);
  box-sizing: border-box;
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 10px;
}

.BadgeBase {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex: none;
  border-radius: 16px;
  background-color: white;
  box-sizing: border-box;
  padding: 2px 10px;
}

.BadgeBaseText {
  color: rgb(105, 65, 198);
  text-overflow: ellipsis;
  font-size: 14px;
  font-family: Inter, sans-serif;
  font-weight: initial;
  line-height: 20px;
  text-align: center;
}

.Content {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  flex: none;
  gap: 4px;
  box-sizing: border-box;
}

.BadgeSideText {
  color: rgb(105, 65, 198);
  text-overflow: ellipsis;
  font-size: 14px;
  font-family: Inter, sans-serif;
  font-weight: initial;
  line-height: 20px;
  text-align: left;
}

.ArrowRight {
  width: 16px;
  height: 16px;
  overflow: hidden;
  position: relative;
}

.RightArrowIcon {
  object-fit: cover;
  position: absolute;
  left: 3px;
  top: 3px;
  right: 3px;
  bottom: 3px;
}

.LandingHeading {
  color: rgb(16, 24, 40);
  text-overflow: ellipsis;
  font-size: 60px;
  font-family: Inter, sans-serif;
  font-weight: initial;
  letter-spacing: -1px;
  line-height: 72px;
  text-align: center;
  align-self: stretch;
  flex-shrink: 0;
}

.LandingSupportingText {
  color: rgb(102, 112, 133);
  text-overflow: ellipsis;
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: initial;
  line-height: 30px;
  text-align: center;
  align-self: stretch;
  flex-shrink: 0;
}

.LandingSectionButtonGroup {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  flex: none;
  gap: 12px;
  box-sizing: border-box;
}

.TertiaryIconButton {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex: none;
  gap: 12px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border: solid 1px rgb(208, 213, 221);
  border-radius: 8px;
  background-color: white;
  box-sizing: border-box;
  padding: 16px 28px;
}

.PlayCircleIcon1 {
  width: 23px;
  height: 22px;
  object-fit: cover;
}

.TertiaryIconButtonText {
  color: rgb(52, 64, 84);
  text-overflow: ellipsis;
  font-size: 18px;
  font-family: Inter, sans-serif;
  font-weight: initial;
  line-height: 28px;
  text-align: left;
}

.BigPrimaryButton {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex: none;
  gap: 8px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border: solid 1px rgb(127, 86, 217);
  border-radius: 8px;
  background-color: rgb(127, 86, 217);
  box-sizing: border-box;
  padding: 16px 28px;
}

.Text {
  color: white;
  text-overflow: ellipsis;
  font-size: 18px;
  font-family: Inter, sans-serif;
  font-weight: initial;
  line-height: 28px;
  text-align: left;
}

.ImageWithAnalytics {
  width: 661px;
  height: 313px;
  object-fit: cover;
}

.SocialProofSection {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  box-sizing: border-box;
  padding: 100px 32px;
  flex-shrink: 0;
}

.SocialProofSectionText {
  color: rgb(102, 112, 133);
  text-overflow: ellipsis;
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: initial;
  line-height: 24px;
  text-align: center;
}

.Logos {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  box-sizing: border-box;
  flex-shrink: 0;
}

.LayersLogo {
  width: 135px;
  height: 42px;
  object-fit: cover;
}

.SisyphusLogo {
  width: 160px;
  height: 42px;
  object-fit: cover;
}

.CircoolesLogo {
  width: 170px;
  height: 42px;
  object-fit: cover;
}

.CatalogLogo {
  width: 155px;
  height: 42px;
  object-fit: cover;
}

.QuotientLogo {
  width: 171px;
  height: 42px;
  object-fit: cover;
}

.Divider {
  height: 1px;
  background-color: rgb(234, 236, 240);
  align-self: stretch;
  flex-shrink: 0;
}

.FeatureSection {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  box-sizing: border-box;
  padding: 100px 0px;
  flex-shrink: 0;
}

.FetaureSectionName {
  color: rgb(105, 65, 198);
  text-overflow: ellipsis;
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: initial;
  line-height: 24px;
  text-align: center;
  align-self: stretch;
  flex-shrink: 0;
}

.FeatureSectionHeading {
  color: rgb(16, 24, 40);
  text-overflow: ellipsis;
  font-size: 36px;
  font-family: Inter, sans-serif;
  font-weight: initial;
  letter-spacing: -1px;
  line-height: 44px;
  text-align: center;
  align-self: stretch;
  flex-shrink: 0;
}

.FeatureSectionSubHeading {
  color: rgb(102, 112, 133);
  text-overflow: ellipsis;
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: initial;
  line-height: 30px;
  text-align: center;
  align-self: stretch;
  flex-shrink: 0;
}

.Features {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  flex: none;
  gap: 30px;
  box-sizing: border-box;
  padding: 40px 0px;
}

.FeaturesRow {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  flex: none;
  gap: 30px;
  box-sizing: border-box;
}

.FeatureGroup {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex: none;
  gap: 20px;
  box-sizing: border-box;
}

.FeaturedIcon {
  width: 48px;
  height: 48px;
  background-color: rgb(244, 235, 255);
  border: solid 8px rgb(249, 245, 255);
  border-radius: 28px;
  position: relative;
}

.MailIcon1 {
  width: 22px;
  height: 18px;
  object-fit: cover;
  position: absolute;
  left: 13px;
  top: 15px;
}

.TextAndSupportingText {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex: none;
  gap: 8px;
  width: 384px;
  box-sizing: border-box;
}

.Text_0001 {
  color: rgb(16, 24, 40);
  text-overflow: ellipsis;
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: initial;
  line-height: 30px;
  text-align: center;
  align-self: stretch;
  flex-shrink: 0;
}

.SupportingText {
  color: rgb(102, 112, 133);
  text-overflow: ellipsis;
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: initial;
  line-height: 24px;
  text-align: center;
  align-self: stretch;
  flex-shrink: 0;
}

.FeatureGroup_0001 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex: none;
  gap: 20px;
  box-sizing: border-box;
}

.FeaturedIcon_0001 {
  width: 48px;
  height: 48px;
  background-color: rgb(244, 235, 255);
  border: solid 8px rgb(249, 245, 255);
  border-radius: 28px;
  position: relative;
}

.ZapIcon1 {
  width: 20px;
  height: 22px;
  object-fit: cover;
  position: absolute;
  left: 14px;
  top: 13px;
}

.TextAndSupportingText_0001 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex: none;
  gap: 8px;
  width: 384px;
  box-sizing: border-box;
}

.Text_0002 {
  color: rgb(16, 24, 40);
  text-overflow: ellipsis;
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: initial;
  line-height: 30px;
  text-align: center;
  align-self: stretch;
  flex-shrink: 0;
}

.SupportingText_0001 {
  color: rgb(102, 112, 133);
  text-overflow: ellipsis;
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: initial;
  line-height: 24px;
  text-align: center;
  align-self: stretch;
  flex-shrink: 0;
}

.FeatureGroup_0002 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex: none;
  gap: 20px;
  box-sizing: border-box;
}

.FeaturedIcon_0002 {
  width: 48px;
  height: 48px;
  background-color: rgb(244, 235, 255);
  border: solid 8px rgb(249, 245, 255);
  border-radius: 28px;
  position: relative;
}

.BarChart2 {
  width: 24px;
  height: 24px;
  overflow: hidden;
  position: absolute;
  left: 12px;
  top: 12px;
}

.BarChart21 {
  width: 24px;
  height: 24px;
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
}

.TextAndSupportingText_0002 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex: none;
  gap: 8px;
  width: 384px;
  box-sizing: border-box;
}

.Text_0003 {
  color: rgb(16, 24, 40);
  text-overflow: ellipsis;
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: initial;
  line-height: 30px;
  text-align: center;
  align-self: stretch;
  flex-shrink: 0;
}

.SupportingText_0002 {
  color: rgb(102, 112, 133);
  text-overflow: ellipsis;
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: initial;
  line-height: 24px;
  text-align: center;
  align-self: stretch;
  flex-shrink: 0;
}

.FeaturesRow_0001 {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  flex: none;
  gap: 30px;
  box-sizing: border-box;
}

.FeatureGroup_0003 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex: none;
  gap: 20px;
  box-sizing: border-box;
}

.FeaturedIcon_0003 {
  width: 48px;
  height: 48px;
  background-color: rgb(244, 235, 255);
  border: solid 8px rgb(249, 245, 255);
  border-radius: 28px;
  position: relative;
}

.SmileIcon {
  width: 22px;
  height: 22px;
  object-fit: cover;
  position: absolute;
  left: 13px;
  top: 13px;
}

.TextAndSupportingText_0003 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex: none;
  gap: 8px;
  width: 384px;
  box-sizing: border-box;
}

.Text_0004 {
  color: rgb(16, 24, 40);
  text-overflow: ellipsis;
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: initial;
  line-height: 30px;
  text-align: center;
  align-self: stretch;
  flex-shrink: 0;
}

.SupportingText_0003 {
  color: rgb(102, 112, 133);
  text-overflow: ellipsis;
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: initial;
  line-height: 24px;
  text-align: center;
  align-self: stretch;
  flex-shrink: 0;
}

.FeatureGroup_0004 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex: none;
  gap: 20px;
  box-sizing: border-box;
}

.FeaturedIcon_0004 {
  width: 48px;
  height: 48px;
  background-color: rgb(244, 235, 255);
  border: solid 8px rgb(249, 245, 255);
  border-radius: 28px;
  position: relative;
}

.CommandIcon {
  width: 20px;
  height: 20px;
  object-fit: cover;
  position: absolute;
  left: 14px;
  top: 14px;
}

.TextAndSupportingText_0004 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex: none;
  gap: 8px;
  width: 384px;
  box-sizing: border-box;
}

.Text_0005 {
  color: rgb(16, 24, 40);
  text-overflow: ellipsis;
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: initial;
  line-height: 30px;
  text-align: center;
  align-self: stretch;
  flex-shrink: 0;
}

.SupportingText_0004 {
  color: rgb(102, 112, 133);
  text-overflow: ellipsis;
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: initial;
  line-height: 24px;
  text-align: center;
  align-self: stretch;
  flex-shrink: 0;
}

.FeatureGroup_0005 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex: none;
  gap: 20px;
  box-sizing: border-box;
}

.FeaturedIcon_0005 {
  width: 48px;
  height: 48px;
  background-color: rgb(244, 235, 255);
  border: solid 8px rgb(249, 245, 255);
  border-radius: 28px;
  position: relative;
}

.MessageCircle {
  width: 24px;
  height: 24px;
  overflow: hidden;
  position: absolute;
  left: 12px;
  top: 12px;
}

.MessageCircle1 {
  width: 24px;
  height: 24px;
  object-fit: cover;
  position: absolute;
  left: -1px;
  top: 3px;
}

.TextAndSupportingText_0005 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex: none;
  gap: 8px;
  width: 384px;
  box-sizing: border-box;
}

.Text_0006 {
  color: rgb(16, 24, 40);
  text-overflow: ellipsis;
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: initial;
  line-height: 30px;
  text-align: center;
  align-self: stretch;
  flex-shrink: 0;
}

.SupportingText_0005 {
  color: rgb(102, 112, 133);
  text-overflow: ellipsis;
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: initial;
  line-height: 24px;
  text-align: center;
  align-self: stretch;
  flex-shrink: 0;
}

.GrayPaddingContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  background-color: rgb(249, 250, 251);
  box-sizing: border-box;
  padding: 0px 100px;
  flex-shrink: 0;
}

.QuoteSection {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  box-sizing: border-box;
  padding: 100px 0px;
  flex-shrink: 0;
}

.SisyphusLogoRemovebgPreview1 {
  width: 160px;
  height: 42px;
  object-fit: cover;
}

.QuoteAndAttribution {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  box-sizing: border-box;
  flex-shrink: 0;
}

.Quote {
  color: rgb(16, 24, 40);
  text-overflow: ellipsis;
  font-size: 48px;
  font-family: Inter, sans-serif;
  font-weight: initial;
  letter-spacing: -1px;
  line-height: 60px;
  text-align: center;
  align-self: stretch;
  flex-shrink: 0;
}

.QuoteAvatar {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  box-sizing: border-box;
  flex-shrink: 0;
}

.AvatarInfo {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  box-sizing: border-box;
  flex-shrink: 0;
}

.AvatarName {
  color: rgb(16, 24, 40);
  text-overflow: ellipsis;
  font-size: 18px;
  font-family: Inter, sans-serif;
  font-weight: initial;
  line-height: 28px;
  text-align: center;
  align-self: stretch;
  flex-shrink: 0;
}

.AvatarDescription {
  color: rgb(102, 112, 133);
  text-overflow: ellipsis;
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: initial;
  line-height: 24px;
  text-align: center;
  align-self: stretch;
  flex-shrink: 0;
}

.WhiteContainerPadding {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  box-sizing: border-box;
  padding: 0px 100px;
  flex-shrink: 0;
}

.FaqSection {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  box-sizing: border-box;
  padding: 100px 0px;
  flex-shrink: 0;
}

.FaqInfo {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex: none;
  gap: 20px;
  box-sizing: border-box;
}

.FaqHeading {
  color: rgb(16, 24, 40);
  text-overflow: ellipsis;
  font-size: 36px;
  font-family: Inter, sans-serif;
  font-weight: initial;
  letter-spacing: -1px;
  line-height: 44px;
  text-align: center;
}

.FaqSupportingText {
  color: rgb(102, 112, 133);
  text-overflow: ellipsis;
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: initial;
  line-height: 30px;
  text-align: center;
}

.FaQs {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  box-sizing: border-box;
  padding: 40px 0px;
  flex-shrink: 0;
}

.FaqContact {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  border-radius: 16px;
  align-self: stretch;
  background-color: rgb(249, 250, 251);
  box-sizing: border-box;
  padding: 32px;
  flex-shrink: 0;
}

.AvatarGroup {
  width: 120px;
  height: 56px;
  position: relative;
}

.AvatarGroupImage3 {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  box-sizing: border-box;
  position: absolute;
  left: 60px;
  top: -10px;
  width: 64px;
  height: 64px;
}

.AvatarGroupImage2 {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  box-sizing: border-box;
  position: absolute;
  left: -7px;
  top: -10px;
  width: 64px;
  height: 64px;
}

.AvatarGroupImage1 {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  box-sizing: border-box;
  position: absolute;
  left: 26px;
  top: -17px;
  width: 64px;
  height: 64px;
}

.HeadingAndSupportingText {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex: none;
  gap: 8px;
  box-sizing: border-box;
}

.Heading {
  color: rgb(16, 24, 40);
  text-overflow: ellipsis;
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: initial;
  line-height: 30px;
  text-align: center;
}

.SupportingText_0006 {
  color: rgb(102, 112, 133);
  text-overflow: ellipsis;
  font-size: 18px;
  font-family: Inter, sans-serif;
  font-weight: initial;
  line-height: 28px;
  text-align: center;
}

.Actions {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  flex: none;
  gap: 12px;
  box-sizing: border-box;
}

.Divider_0001 {
  height: 1px;
  background-color: rgb(234, 236, 240);
  align-self: stretch;
  flex-shrink: 0;
}

.MetricsSection {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex: none;
  gap: 64px;
  background-color: white;
  box-sizing: border-box;
  padding: 100px 0px;
}

.MetricsSectionHeadingContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  box-sizing: border-box;
  padding: 10px;
  flex-shrink: 0;
}

.MetricsSectionHeadingContent {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  flex: none;
  gap: 20px;
  width: 768px;
  box-sizing: border-box;
}

.MetricsSectionHeadingContentContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  box-sizing: border-box;
  flex-shrink: 0;
}

.MetricsSectionSubheading {
  color: rgb(105, 65, 198);
  text-overflow: ellipsis;
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: initial;
  line-height: 24px;
  text-align: left;
  align-self: stretch;
  flex-shrink: 0;
}

.MetricsSectionHeading {
  color: rgb(16, 24, 40);
  text-overflow: ellipsis;
  font-size: 36px;
  font-family: Inter, sans-serif;
  font-weight: initial;
  letter-spacing: -1px;
  line-height: 44px;
  text-align: left;
  align-self: stretch;
  flex-shrink: 0;
}

.HeadingSupportingText {
  color: rgb(102, 112, 133);
  text-overflow: ellipsis;
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: initial;
  line-height: 30px;
  text-align: left;
  align-self: stretch;
  flex-shrink: 0;
}

.MetricsSectionInfoContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  flex: none;
  gap: 96px;
  box-sizing: border-box;
  padding: 0px 32px;
}

.MetricItemContent {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  flex: none;
  gap: 64px;
  box-sizing: border-box;
}

.MetricItemRow {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  box-sizing: border-box;
  flex-shrink: 0;
}

.MetricItemRow_0001 {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  box-sizing: border-box;
  flex-shrink: 0;
}

.MetricSectionImage {
  width: 560px;
  height: 560px;
  object-fit: cover;
}

.GrayPaddingContainer_0001 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  background-color: rgb(249, 250, 251);
  box-sizing: border-box;
  padding: 0px 100px;
  flex-shrink: 0;
}

.CtaSection {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  align-self: stretch;
  background-color: rgb(249, 250, 251);
  box-sizing: border-box;
  padding: 96px 0px;
  flex-shrink: 0;
}

.CtaSectionContentContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  box-sizing: border-box;
  flex-shrink: 0;
}

.CtaSectionContent {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex: none;
  gap: 20px;
  box-sizing: border-box;
}

.CtaSectionHeading {
  color: rgb(16, 24, 40);
  text-overflow: ellipsis;
  font-size: 36px;
  font-family: Inter, sans-serif;
  font-weight: initial;
  letter-spacing: -1px;
  line-height: 44px;
  text-align: center;
}

.CtaSectionSubHeading {
  color: rgb(102, 112, 133);
  text-overflow: ellipsis;
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: initial;
  line-height: 30px;
  text-align: center;
}

.CtaSectionActions {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  flex: none;
  gap: 12px;
  box-sizing: border-box;
}

.WhiteContainerPadding_0001 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  box-sizing: border-box;
  padding: 0px 100px;
  flex-shrink: 0;
}

.Footer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  align-self: stretch;
  background-color: white;
  box-sizing: border-box;
  padding: 64px 0px 48px;
  flex-shrink: 0;
}

.FooterLinksContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  align-self: stretch;
  box-sizing: border-box;
  padding: 0px 32px;
  flex-shrink: 0;
}

.FooterLinks1 {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  flex: none;
  gap: 157px;
  box-sizing: border-box;
}

.FooterLinks2 {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  flex: none;
  gap: 157px;
  box-sizing: border-box;
}

.FooterLinks3 {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  flex: none;
  gap: 157px;
  box-sizing: border-box;
}

.FooterContentContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  box-sizing: border-box;
  padding: 0px 32px;
  flex-shrink: 0;
}

.Divider_0002 {
  height: 1px;
  background-color: rgb(234, 236, 240);
  align-self: stretch;
  flex-shrink: 0;
}

.FooterContent {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  box-sizing: border-box;
  flex-shrink: 0;
}

.UntitledUiLogo {
  width: 132px;
  height: 31px;
  object-fit: cover;
}

.FooterText {
  color: rgb(152, 162, 179);
  text-overflow: ellipsis;
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: initial;
  line-height: 24px;
  text-align: left;
}
