@import url("/public/assets/fonts/Inter_600.css");
@import url("/public/assets/fonts/Inter_500.css");
@import url("/public/assets/fonts/Inter_400.css");
body {
  margin: 0;
  padding: 0;
}
details,
summary {
  all: unset;
}
button {
  all: unset;
  cursor: pointer;
}


/* Custom Added Css */
#root {
  max-width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
}

* {
  flex-wrap: wrap;
}